<div class="container flex">   
    <div class="card" style="width: 18rem;" *ngFor="let product of products">
      <div (click)="onProductClick(product.id)">
        <img src={{product.image}} class="card-img-top" alt="...">
        <div class="card-body" >
            <h5 class="card-title">{{product.title}}</h5>
            <p class="card-text">{{product.description}}</p>
            <h6 class="card-title">Price-{{product.price}}</h6>
          </div>
      </div>
        <button class="btn btn-secondary" (click)="addToWishlist(product)">Add To WishList</button>
      </div>
</div>